{% extends "base.html" %} {% block content %}
<div class="center-middle">
	<table class="table table-bordered">
		<tr>
			<th colspan="15" style="background-color:#E0EEEE;">商品图片修改</th>
		</tr>
		<tr style="background-color: #E0EEEE; text-align: center;vertical-align: middle;">
			<td width="10%"><b>序号</b></td>
			<td width="50%"><b>图片</b></td>
			<td width="20%"><b>顺序</b></td>
			<td width="20%"><b>编辑</b></td>
		</tr>
		<tr>
			<td style="text-align: center;vertical-align: middle;" width="10%">1</td>
			<td style="text-align: center;vertical-align: middle;" width="50%"><img src="123.jpg" /></td>
			<td style="text-align: center;vertical-align: middle;" width="20%">1</td>
			<td style="text-align: center;vertical-align: middle;" width="20%"><img width="40px" src="qianbi.png" /><img width="15px" src="lajitong.jpg" /></td>
		</tr>
		<tr>
			<td style="text-align: center;vertical-align: middle;" width="10%">2</td>
			<td style="text-align: center;vertical-align: middle;" width="50%"><img src="123.jpg" /></td>
			<td style="text-align: center;vertical-align: middle;" width="20%">1</td>
			<td style="text-align: center;vertical-align: middle;" width="20%"><img width="40px" src="qianbi.png" /><img width="15px" src="lajitong.jpg" /></td>
		</tr>

	</table>
</div>
{% endblock %}