{% extends "home.html" %} {% block content %}




<div class="posts">

	<div class="rt_content">
		<div class="page_title">
			<h2 class="fl">商品详情示例</h2>
			<a id="backTo" class="fr top_rt_btn">返回产品列表</a>
		</div>
		<section>
			<ul class="ulColumn2">
				<li>
					<span class="item_name" style="width:120px;">商品名称：</span>
					<input type="text" class="textbox textbox_295" placeholder="商品名称..." id="a1"/>
					<span id="b1"></span>
				</li>
				<li>
					<span class="item_name" style="width:120px;">商品编号：</span>
					<input type="text" class="textbox" placeholder="商品编号..." id="a2"/>
					<span id="b2"></span>
				</li>
				<li>
					<span class="item_name" style="width:120px;">单价：</span>
					<input type="text" class="textbox" placeholder="单价..." id="a3"/>
					</select>
					<span id="b3"></span>
				</li>
				<li>
					<span class="item_name" style="width:120px;">库存：</span>
					<input type="text" class="textbox" placeholder="库存..." id="a4"/>
					<span id="b4"></span>
				</li>
				<li>
					<span class="item_name" style="width:120px;">上传图片：</span>
					<label class="uploadImg">
                                <input type="file"/>
                                <span>上传图片</span>
                                </label>
				</li>
				<li>
					<span class="item_name" style="width:120px;">产品详情：</span>
					<input type="text" class="textbox textbox_295" placeholder="产品详情..." id="a5"/>
					<span id="b5"></span>
				</li>
				<li>
					<span class="item_name" style="width:120px;"></span>
					<input type="submit" class="link_btn" />
				</li>
			</ul>
		</section>
	</div>
</div>
<script type="text/javascript">


	function check1(){
		$("#b1").show
		var reg = /^\s*$/g
		if(reg.test($("#a1").val())){
			$("#b1").text("商品名不能为空")
		}
		else{
			$("#b1").text("")
		}
	}
	$(function(){
		$("#a1").blur(function(){
		check1();
		})
	})




	function check2(){
		$("#b2").show
		var reg = /^\d{6}$/
		if(!reg.test($("#a2").val())){
			$("#b2").text("商品编号需要为6位数字")
		}
		else{
			$("#b2").text("")
		}
	}
	$(function(){
		$("#a2").blur(function(){
		check2();
		})
	})

	function check3(){
		$("#b3").show
		var reg = /^\d{6}$/
		if(!reg.test($("#a3").val())){
			$("#b3").text("商品编号需要为6位数字")
		}
		else{
			$("#b3").text("")
		}
	}
	$(function(){
		$("#a3").blur(function(){
		check3();
		})
	})

	function check4(){
		$("#b4").show
		var reg = /^\d{6}$/
		if(!reg.test($("#a4").val())){
			$("#b4").text("商品编号需要为6位数字")
		}
		else{
			$("#b4").text("")
		}
	}
	$(function(){
		$("#a4").blur(function(){
		check4();
		})
	})

	function check5(){
		$("#b5").show
		var reg = /^\d{6}$/
		if(!reg.test($("#a5").val())){
			$("#b5").text("商品编号需要为6位数字")
		}
		else{
			$("#b5").text("")
		}
	}
	$(function(){
		$("#a5").blur(function(){
		check5();
		})
	})


	$(function() {
			
			var addressArr = window.location.href.split("/");
			var addressArrLen = addressArr.length;
			
			var addressFlag = addressArr[addressArrLen - 2];
			if (addressFlag.indexOf("Manage") > 0) {
				$("#myNav li").each(function (i , item) {
					var aEelementId = $(item).children("a").attr("id");
					if(addressFlag == aEelementId) {
						$(item).addClass("active")
					} else {
						$(item).removeClass("active")
					}
				})
			}

			// 商品管理跳转按钮
			$("#backTo").click(function() {
				window.location.href = 'http://localhost:8000/goodsManage/'			
			})


		})
</script>
{% endblock %}