<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" href="../../favicon.ico">
    <title>Starter Template for Bootstrap</title>
    
	<link rel="stylesheet" type="text/css" href="../shopApp/static/css/bootstrap.min.css"/>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container-fluid">
		    <a class="navbar-text pull-left" href="#" style="font-size: 20px; color: white; font-family:'微软雅黑';">商家后台</a>
	    </div>
    </nav>

    <div class="container-fluid">

      

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../shopApp/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../shopApp/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>