<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='bootstrap.min.css')}}" />
		<script src="{{url_for('static' , filename='jquery.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static' , filename='bootstrap.min.js')}}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/style.css')}}" />

	</head>

	<body>

		<div class="md-modal md-effect-6" id="modal-6">
			<div class="md-content">
				<h3>添加商品</h3>
				<div>

					<form id="myTijiaoFrom" action="http://localhost:5000/addProduct" method="post" enctype="multipart/form-data">

						<ul style="list-style: none;">
							<li>
								<div class="form-group">名称：<input name="productname" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">店名：<input name="shop" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">运费：<input name="freight" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">规格：<input name="norm" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">价格：<input name="price1" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">描述：<input name="productdepict" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">售后：<input name="aftersale" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">详情：<input name="depictandimage" type="text" class="form-control" style="width: 80%; display: inline-block;" /></div>
							</li>
							<li>
								<div class="form-group">图片：<input name="image" type="file" class="form-control imageLoadInput" style="width: 80%; display: inline-block;" /></div>
							</li>
							
						</ul>

						<button class="md-close" id="tijiaoBtn" >提交</button>
						<img id="loadImage" style="width: 100px; height: 50px; border: 1px solid red;" />
							
						
						

					</form>

					
					<button class="md-close1">取消</button>
					
				</div>
				
			</div>
			
		</div>
		
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a class="navbar-brand" href="#">
						<img src="img/logo_200.png" height="100%" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a class="icon-bar" href="#">网站设置</a>
						</li>
						<li>
							<a href="#">分类管理</a>
						</li>
						<li>
							<a href="#">城市管理</a>
						</li>
						<li>
							<a href="#">商品管理</a>
						</li>
						<li>
							<a href="#">订单管理</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a>欢迎您,admin</a>
						</li>
						<li>
							<a href="#">安全退出</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<a href="#" class="list-group-item active">商品管理</a>
					<a href="#" class="list-group-item">
						<img src="img/001_44.png">一级分类</a>
					<a href="#" class="list-group-item">
						<img src="img/001_44.png">二级分类</a>
					<a href="#" class="list-group-item">
						<img src="img/001_44.png">商品列表</a>
				</div>
				<div class="col-sm-10">
					<ol class="breadcrumb">
						<li class="active">商品管理
						</li>
						<li class="active">商品列表
						</li>
					</ol>

					<div class="panel panel-default">
						<div class="panel-heading">
							搜索
						</div>
						<div class="panel-body">
							<form role="form" class="form-inline">
								<div class="form-group">
									<label for="name">名称</label>
									<input type="text" class="form-control" id="name" placeholder="请输入名称">
								</div>
								<div class="form-group">
									<label for="name">状态</label>
									<select class="form-control">
										<option>上架</option>
										<option>下架</option>
									</select>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">开始搜索</button>
								</div>
								<div class="form-group">
									<button type="button" class="btn btn-default md-trigger" data-modal="modal-6">添加</button>
								</div>
							</form>
						</div>
					</div>
					<!--
                        列表展示
                    -->
					<div class="table-responsive" style="color: #696969;">
						<table class="table table-striped ">
							<thead>
								<tr>
									<th>编号</th>
									<th>图标</th>
									<th>名称</th>
									<th>价格</th>
									<th>邮费</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody class="listBody" style="color: #696969;">

							</tbody>
						</table>
					</div>
					<ul class="pagination" style="float: right;">
						<li>
							<a href="#">&laquo;</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li class="disabled">
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		var polyfilter_scriptpath = '/js/';
	</script>

	<script src="{{url_for('static' , filename='js/index.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{url_for('static' , filename='js/jquery.form.js')}}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		function getObjectURL(file) {
			var url = null;
			if(window.createObjectURL != undefined) { // basic
				url = window.createObjectURL(file);
			} else if(window.URL != undefined) { // mozilla(firefox)
				url = window.URL.createObjectURL(file);
			} else if(window.webkitURL != undefined) { // webkit or chrome
				url = window.webkitURL.createObjectURL(file);
			}
			return url;
		}
		
		$(".imageLoadInput").change(function(){
			var objUrl = getObjectURL(this.files[0]);
			console.log(objUrl);

			$("#loadImage").attr({
				"src": objUrl
			})

		});
		
		
		$("#tijiaoBtn").click(function() {
			$("#myTijiaoFrom").on("submit", function(e) {
				e.preventDefault();

				$(this).ajaxSubmit({
//					target: "#output",
					success: function(res) {

						getDataFn("add");

					}
				})

			})
		})

		function getDataFn(opt) {
			$.ajax({
				type: "get",
				url: "http://localhost:5000/showProducts",
				async: true,
				success: function(res) {

					console.log(res)
					res = JSON.parse(res);

					if(opt == "add") {
						if(res.data.length < 1) {
							return;

						}
						window.location.reload();
//						var oneData = res.data[res.data.length - 1];
//						var aftersSale = oneData.aftersale;
//						var depictandimage = oneData.depictandimage;
//						var freight = oneData.freight;
//						var norm = oneData.norm;
//						var price1 = oneData.price1;
//						var productdepict = oneData.productdepict;
//						var productname = oneData.productname;
//						var shop = oneData.shop;
//						var id = oneData.id;
//
//						var trEle = '<tr><td>' + id + '</td><td><img src="img/test.jpg" class="img-thumbnail" style="height: 30px;" /></td><td>' + productname + '</td><td>' + price1 + '￥</td><td>' + freight + '￥</td><td>上架</td><td><div class="btn-group"><a href="" class="btn btn-default">修改</a><a href="" class="btn btn-default">下架</a><a class="btn btn-danger deleteBtn">删除</a></div></td></tr>';
//						$(".listBody").append(trEle);

					} else {
						for(var i = 0; i < res.data.length; i++) {
							//									console.log("------");
							var oneData = res.data[i];

							var aftersSale = oneData.aftersale;
							var depictandimage = oneData.depictandimage;
							var freight = oneData.freight;
							var norm = oneData.norm;
							var price1 = oneData.price1;
							var productdepict = oneData.productdepict;
							var productname = oneData.productname;
							var shop = oneData.shop;
							var id = oneData.id;
							var imgurl = oneData.imgurl;
//							console.log(imgurl);
							
							var trEle = '<tr><td>' + id + '</td><td><img src="http://localhost:5000/serverFile/'+imgurl+'" class="img-thumbnail" style="height: 30px;" /></td><td>' + productname + '</td><td>' + price1 + '￥</td><td>' + freight + '￥</td><td>上架</td><td><div class="btn-group"><a href="" class="btn btn-default">修改</a><a href="" class="btn btn-default">下架</a><a class="btn btn-danger deleteBtn">删除</a></div></td></tr>';
//							var trEle = '<tr><td>' + id + '</td><td><img src= '+ "../uploadFile/" + imgurl + ' class="img-thumbnail" style="height: 30px;" /></td><td>' + productname + '</td><td>' + price1 + '￥</td><td>' + freight + '￥</td><td>上架</td><td><div class="btn-group"><a href="" class="btn btn-default">修改</a><a href="" class="btn btn-default">下架</a><a class="btn btn-danger deleteBtn">删除</a></div></td></tr>';

							$(".listBody").append(trEle);
						}
					}

					$(".deleteBtn").click(function(e){
						var productId = $(e.currentTarget).parents("tr").children("td").eq(0).text();
//						console.log(a);
						$.post("http://localhost:5000/delete" ,{
							"id" : productId
						} , function (res) {
							console.log(res);
							$(e.currentTarget).parents("tr").remove();
						})
					});
					
				},
				error: function(err) {
					console.log(err);
				}
			});

		}

		getDataFn("refresh");
	</script>

</html>